* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black
}

.header {
  padding: 80px;
  text-align: center;
  color: green;
  background-image: url('/image/heading.jpg');
  background-size: cover;
 
  background-position: center;
 
}



.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: green;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.navbar a.right {
  float: right;
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.navbar a.active {
  background-color: #666;
  color: white;
}


.row {
  display: -ms-flexbox;
 
  display: flex;
  -ms-flex-wrap: wrap;

  flex-wrap: wrap;
}



.side {
  -ms-flex: 30%;
  /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 70%;
  /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}


.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

img {

  width: 100%;

}



label {
  display: block;
  margin-bottom: 5px;
  
}

/* Style the input field */
input[type="email"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}



/* Footer */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 2rem 0;
  position: relative;
}

.footer h5 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  margin-bottom: 0.5rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #ccc;
}

.footer .btn-social-icon {
  font-size: 2rem;
  padding: 0.5rem;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 1rem;
  transition: background-color 0.3s ease;
}

.footer .row>div {
  margin-right: 15px;
  margin-left: 15px;
}

.footer .btn-social-icon:hover {
  background-color: #fff;
  color: #343a40;
}

.footer .btn-facebook {
  background-color: #3b5998;
}

.footer .btn-twitter {
  background-color: #55acee;
}

.footer .btn-linkedin {
  background-color: #0077b5;
}

.footer .btn-instagram {
  background-color: #e1306c;
}


.active {
  background-color: #333 !important;
  color: white !important;
}

/* logout button */
.logout-form {
  text-align: right;
}

.logout-form button {
  background: none;
  border: none;
  color: white;

  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 16px;
 
  padding: 13px;
}

.logout-form button:hover {
  text-decoration: none;

  color: black;

  background-color: ddd;
}



/* error and status */
.status-container {
  position: fixed;
  top: 0;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  /* Red border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Black shadow */
}

.status {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}




/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


/* animation */
/* Add these classes to animate.css or define them in your CSS */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate__animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.animate__fadeInDown {
  animation-name: fadeInDown;
}

.animate__fadeOutUp {
  animation-name: fadeOutUp;
}


/* Default styles for the menu icon */
.menu-icon {
  display: none; /* Hide the icon by default */
  cursor: pointer;
}

.hidden-checkbox {
  display: none !important;
}

/* This is to make the css compatible in the mnoviel devices  */
@media screen and (max-width: 768px) {
  
  .menu-icon {
      display: block;
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 1000;
      font-size: 50px;
      color: #302e2e;
  }

  
  .navbar {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 10px;
      margin: 40px;
      background-color: rgba(5, 122, 5,0.99); 
      overflow-y: auto;
      border: 2px solid black;
      z-index: 999;
  }


  #menu-toggle:checked + .menu-icon + .navbar {
      display: block;
  }

  
  .navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ccc2c2;
    width: 100%; 
    box-sizing: border-box; 
}

 
  .navbar a:hover {
      background-color: #ddd;
  }
}


/* Css hasbeen used from w3 schools https://www.w3schools.com/howto/howto_css_example_website.asp has been used to make the website base*/